@model ML.Materia

@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Form</h2>

@*Razor*@

<div class="container">
    <div class="row">
        <div class="col">

            @using (Html.BeginForm("Form", "Materia", FormMethod.Post, new {@class = "container"}))
            {
                @Html.HiddenFor(model => model.Id)

               <div class="row">

                   <div class="col-3">
                       @Html.LabelFor(model => model.Nombre, new { @class = "form-label" }) //Label
                       @*<label>Nombre</label>*@

                       @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control" }) //input
                       @*<input type="text" name="Nombre" />*@
                   </div>

                   <div class="col-3">
                       @Html.LabelFor(model => model.Creditos, new { @class = "form-label" })
                       @Html.TextBoxFor(model => model.Creditos, new { @class = "form-control" })
                       @Html.TextBoxFor(model => model.Creditos, new { @class = "form-control" })
                   </div>


                   <div class="col-3">
                       @Html.LabelFor(model => model.Promedio, new { @class = "form-label" })
                       @Html.TextBoxFor(model => model.Promedio, new { @class = "form-control" })
                   </div>

                   <div class="col-3">
                       @Html.LabelFor(model => model.Carrera.IdCarrera, new { @class = "form-label" })
                       @Html.TextBoxFor(model => model.Carrera.IdCarrera, new { @class = "form-control" })
                   </div>

                   <div class="col-3">
                       @Html.LabelFor(model => model.Carrera.IdCarrera, new { @class = "form-label" })
                       @Html.TextBoxFor(model => model.Carrera.IdCarrera, new { @class = "form-control" })
                   </div>


                   //.......

               </div>
                <button type="submit">Enviar</button>
            }

        </div>
    </div>
</div>

